<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title></title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
  <div class="page-container">
    <header>
      <div>
        <button  class="menu-button" (click)="onMenuClick()">
          Convert data 2 doc
        </button>
        {{title}}
      </div>
    </header>
  </div>
  
  <div fxLayout="row" fxLayoutAlign="space-between">
  <ngx-dropzone class="dz" (change)="onSelectDz($event)" [disabled]="false" [multiple]="true">
    <ngx-dropzone-label>Drop both DOCX and XLSX files to this area or click to select!</ngx-dropzone-label>
    <ngx-dropzone-preview *ngFor="let f of filesDz" [removable]="true" (removed)="onRemoveDz(f)">
      <ngx-dropzone-label>{{ f.name }}</ngx-dropzone-label>
    </ngx-dropzone-preview>
  </ngx-dropzone>
  
  </div>  
</body>
</html>